/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND & FONT */
body {
  font-family: sterion, Arial, Helvetica, sans-serif;
  background: url("background.png") center / cover fixed no-repeat;
  min-height: 100vh;
  color: #fff;
}


/* HEADER */
header {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 1000;
}

.header-inner {
  text-align: center;
  padding: 15px;
  filter: drop-shadow( 0px 3px 10px rgb(159, 156, 219));
  width: 1000;

}

header img {
  height: 100px;
}

/* MAIN */
main {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

/* PRODUCTS */
#product-list {
  display: flex;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
}

#product-list div {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform .3s;
}

#product-list div:hover {
  transform: translateY(-10px);
}

#product-list img {
  max-width: 200px;
}

/* CUSTOMIZATION */
#customization {
  background: rgb(255, 255, 255);
  color: black;
  padding: 25px;
  border-radius: 18px;
}

h2 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 12px;
  filter: drop-shadow( 0px 2.5px 1px black);
}

h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
  filter: drop-shadow( 0px 2.5px 1px black);
}

#front {
  font-family: sterion;
  padding: 12px 25px;
  margin-left: 420px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  font-size: 16px;
}
#front:hover {
  background: #dddddd;
}
#front.clicked {
  font-family: sterion;
  padding: 12px 25px;
  margin-left: 420px;
  background: #000000;
  color: white;
  border-radius: 12px;
  font-size: 16px;
}

#back {
  font-family: sterion;
  padding: 12px 25px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  font-size: 16px;
}
#back:hover {
  background: #dddddd;
}
#back.clicked {
  font-family: sterion;
  padding: 12px 25px;
  background: #000000;
  color: white;
  border-radius: 12px;
  font-size: 16px;
}

.canvas-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.canvas-box p {
  text-align: center;
  font-weight: bold;
}

canvas {
  max-width: 500px;
  border: 10px solid #00000000;
  cursor: grab;
  border-radius: 18px;
}

/* DESIGNS */
#designs {
  margin: 20px 0;
  text-align: center;
}

#designs img {
  width: 70px;
  cursor: pointer;
}

/* SIZE */
.size-section {
  margin: 20px 0;
  text-align: center;
}

.sizes {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.size-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #aaa;
  cursor: pointer;
}

.size-btn.active {
  font-family: sterion;
  background: #000000;
  color: white;
}

/* add to cart */
#add-to-cart-btn {
  font-family: sterion;
  display: block;
  margin: 20px auto 0 auto;
  padding: 12px 25px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

#export-both {
  display: block;
  margin: 0px 20px 0 auto;
  padding: 12px 25px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

/* CART */
#cart-section {
  margin-top: 40px;
  background: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 18px;
}

h4 {
  color: rgb(0, 0, 0);
}

li {
  font-family: 'arial', Courier, monospace;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

#remove-all-btn {
  font-family: sterion;
  display: block;
  margin: 0px 20px 0 auto;
  padding: 12px 25px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

#cart-items button {
  margin-left: 15px;
  padding: 5px 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .canvas-container {
    flex-direction: column;
  }
}

